<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.credly.newsfreak" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<application android:icon="@drawable/newsfreakicon" android:label="@string/app_name">
		<activity android:name="com.credly.newsfreak.activity.SplashScreenActivity"
			android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.credly.newsfreak.activity.NFDemoActivity"
			android:label="News Freak" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.NewsDetailScreenActivity"
			android:label="News Freak" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.SearchScreenActivity"
			android:label="News Freak" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.AboutScreenActivity"
			android:label="About" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.SettingsScreenActivity"
			android:label="Settings" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.CommentsScreenActivity"
			android:label="Comments" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.NewsWebViewActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.credly.newsfreak.activity.HelpScreenActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
	</application>
</manifest>